.mycards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    padding: 10px;
    width: 250px;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:aliceblue;
    cursor: pointer;
    margin: 10px;
}
.imgdiv {
    display: flex;
}
.mycards div img{
    width: 60px;
    height: 65px;
    border-radius: 15px;
}
.mycards-text{
    display: flex;
    flex-direction: column;
}
.mycards-text p{
    line-height: 10px;
}
/* CSS */
.mytitle {
    margin: 0;
    font-size: 1.2rem;
    max-width: 180px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
