.eventsCreate, .jobsCreate{
    display: flex;
    width: auto;
    margin: 0 25px 4em 0;
    justify-content: space-evenly;
}
.eventsCreate div, .jobsCreate div{
    height: 4em;
    display: inline-flex;
    align-items: center;
    width: 13em;
    justify-content: center;
    background-color: rgb(244 80 77 / 80%);
    color: var(--main);
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}
.eventsCreate div:hover{
    background-color: rgba(242, 65, 62, 0.9);
}
.jobsCreate div:hover{
    background-color: rgba(38, 43, 61, 0.9);
}
.jobsCreate div{
    background-color: rgb(60 72 107 / 90%);
}
.eventsCreate div p, .jobsCreate div p{
    font-size: 20px;
}
.headline{
    border-bottom: 1px solid;
    margin: 3em 35px 1em 0 ;
    font-size: 28px;
}
.eventForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}
.eventForm div{
    width: 55vw;
    margin-bottom: 20px;
}
.formDiv{
    display: flex;
    justify-content: space-between;
}
input[type="text"]{
    width: 100%;
} 
textarea{
    width: 712px;
    height: 84px;
}