p{
    margin: 3px;
}
.prof{
    display: flex;
}
.profile-display{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 45px;
    padding: 20px 10px;
    padding-top: 33px;
    font-size: 18px;
    height: fit-content;
}
.analytics{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
}
.a1, .a2, .a3{
    text-align: center;
    font-weight: 400;
}
.propcontent{
    font-weight: 600;
}
.profile-bio{
    font-weight: 500;
    margin-top: 10px;
}
.bio{
    text-align: center;
    font-size: 15px;
    line-height: 25px;
}