.table-container{
    margin-right: 15px;
}
table{
    vertical-align: top;
    width: 50vw;
    border-collapse: collapse;
}
th{
    padding:5px 25px;
    background-color: var(--acc);
    color: white;
    font-size: 18px;
    text-align: center;
}
td {
    text-align: center;
    padding: 20px;
}
.cta-btn{
    display: flex;
    justify-content: space-between;
}
tr:nth-child(even) {
    background-color: #d2cfcf; /* Light grey background for even rows */
  }
  
tr:nth-child(odd) {
    background-color: transparent; /* Transparent background for odd rows */
  }
.check{
    display: inline-flex;
    height: 35px;
    width: 25px;
    color: green;
}
.cross{
    display: inline-flex;
    height: 35px;
    width: 25px;
    stroke-width: 1.5;
    color: red;
}