.all-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    width: 48vw;
}
.btn{
    display: inline-flex;
    justify-content: flex-end;
    width: 45vw;
    margin-right: 20px;
}
.profile-details {
    display: flex;
    justify-content: center;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  border-radius: 35px; 
  border: 1px solid var(--acc); 
  padding: 8px; 
}
input[type="date"] {
  border-radius: 18px;
}
input[type="radio"] {
    accent-color: var(--acc);
}
.date-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    padding: 8px 12px;
    border: 1px solid var(--acc);
    font-size: 14px;
}
.date-input::-webkit-datetime-edit {
    padding: 0;
}
  
textarea{
    border-radius: 10px;
}
.inputs{
    display: flex;
    justify-content: space-between;
}
.btn2{
    display: flex;
    justify-content: flex-end;
}
.btn2 button{
    margin: 0 5px;
}
@media screen and (max-width: 800px) {
    .prof{
        justify-content: center;
        margin-bottom: 30px;
    }
    .profile-details{
        width: 85vw;
    }
    .btn{
        margin-bottom: 20px;
    }
}
.settings-headers{
    margin-left: 30px;
    border-bottom: 1px solid;
    margin-right: 20px;
}
.del-btn{
    background-color: var(--text);
    color: var(--main);
}
.del-btn:hover{
    border: 2px solid var(--acc);
}