.container {
    margin-right: 15px;
    width: 90vw;
    height: 70vh;
}
.eventContainer{
  width: 96%;
  font-family: "Poppins", sans-serif;
}
.fullTable{
  height: 85%;
    overflow-y: scroll;
}
.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.row span{
    text-align: center;
}
.column {
    flex: 1;
    padding: 10px;
    white-space: nowrap;
}
#head, #head3{
    font-size: 16px;
    font-weight: 300;
    background-color: var(--acc);
    color: white;
}
#head2, #head3{
  width: 40%;
}
.h3{
    border-bottom: 1px solid;
    font-size: 24px;
    font-weight: 400;
}
  .columnbtn button, .columnbtns button {
    font-size: 16px;
    margin: 0 5px;
    background-color: transparent;
    color: var(--acc);
    border: 2px solid var(--acc) ;
    padding: 6px 17px;
  }
  .columnbtn{
    display: flex;
    width: 20em;
    justify-content: space-evenly;
    padding: 10px;
  }
  .icon {
    display: inline-flex;
    height: 35px;
    width: 25px;
  }
  
  .row:nth-child(even) {
    background-color: rgba(214, 219, 255, 0.5);
  }
/* requests.module.css */
.volunteerContainer{
  overflow-x: scroll;
}
.table {
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
}

.cell {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  text-align: center;
}

.head {
  font-weight: 400;
}